.user-profile-wrapper {
  width: 100%;
  margin-top: 7em;
}

.loading-wrapper {
  margin-top: 10em;
}

.user-profile-info-wrapper {
  width: 70%;
}

.user-profile-info-avatar {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(144,144,144,0.55);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.75);
}
.user-profile-info-username {
  font-size: 1em;
}
.user-profile-info-username span {
  font-weight: normal;
  font-size: 1em;
}
.user-profile-info-email {
  font-size: 1em;
}
.user-profile-info-email span{
  font-size: .8em;
  font-weight: normal;
}

.user-profile-table-wrapper {
  width: 50%;
}

.user-profile-table-summoner-icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.user-profile-table-name-link {
  text-decoration: none;
  color: rgb(33,33,33);
}

.user-profile-table-name-link:hover {
  font-weight: bold;
}
