<div fxLayout="column" fxLayoutAlign="center center" class="summoner-wrapper" *ngIf="!loading" fxLayoutGap="1em">
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFill>
    <img [src]="'./assets/img/profileicon/'+summonerStats.profileIconId+'.png'" alt="Summoner Icon"
         class="summoner-icon">
    <h2>{{summonerStats.summonerName}}</h2>
    <h3>Level: <span class="summoner-info-level">{{summonerStats.summonerLevel}}</span></h3>
    <h4>Region: {{summonerStats.region == 'euw1' ? 'EUW' : 'NA'}}</h4>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".7em">
      <button mat-icon-button>
        <mat-icon>{{summonerStats['savedAccounts'] ? 'star' : 'star_border'}}</mat-icon>
      </button>
      <button mat-raised-button color="warn">Refresh data</button>
      <button mat-raised-button color="accent">Take over</button>
    </div>
  </div>
  <div *ngIf="summonerStats.ranks.length == 0">
    No ranks found
  </div>
  <div *ngIf="summonerStats.ranks.length > 0" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em"
       class="summoner-rank-info-wrapper">
    <div *ngFor="let rank of summonerStats.ranks" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5em">
      <h2>{{rank['queueType'].replace('_', ' ').replace('_', ' ')}}</h2>
      <img [src]="'./assets/img/emblems/Emblem_'+rank['tier']+'.png'" [alt]="'Emblem for ' + rank['tier']"
           class="summoner-info-rank-emblem">
      <h3>{{rank['tier']}} {{rank['rank']}}</h3>
      <p class="summoner-info-rank-winrate"><span>{{rank['wins']}}</span> / <span>{{rank['losses']}}</span></p>
    </div>
  </div>
  <div *ngIf="summonerStats.matchHistory.length == 0">
    No matches found
  </div>
  <div *ngIf="summonerStats.matchHistory.length > 0" class="summoner-info-match-history-wrapper" fxLayout="row"
       fxLayoutAlign="space-evenly start">
    <div fxFlex fxShow.lg fxHide.lt-md>
      Stats
      <mat-list role="list" *ngFor="let champion of championsPlayed.slice(0, 10)">
        <mat-list-item role="listitem">
          <img matListAvatar src="../assets/img/champion/{{champion['name'] | nbsp}}.png"
               [alt]="champion['name'] + ' Avatar'">
          <p matLine class="summoner-info-stats-winrate">
            <span>{{champion['name']}}</span>:
            <span>{{champion['winRate']['wins']}} </span> /
            <span>{{champion['winRate']['total']}}</span> /
            {{champion['winRate']['wins'] / champion['winRate']['total'] | percent}}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex="70" fxLayout="column" fxLayoutAlign="start center">
      <mat-accordion fxFill>
        <mat-expansion-panel
          *ngFor="let match of matchesInfo.slice(beginIndex, endIndex); let i = index">
          <mat-expansion-panel-header [ngClass]="{
          'summoner-info-match-history-win': match['participants'][participantIds[i] - 1]['stats']['win'],
          'summoner-info-match-history-lose': !match['participants'][participantIds[i] - 1]['stats']['win']
          }" #matchHeader>
            <mat-panel-title fxLayout="column" fxLayoutAlign=" center" fxFlex class="summoner-info-match-history-title">
              <div>{{match['gameCreation'] | date:'d/M, HH:mm'}}</div>
              <div>{{getQueueName(match['queueId'])}}</div>
            </mat-panel-title>
            <mat-panel-description fxLayout="row" fxLayoutAlign="space-between center"
                                   class="summoner-info-match-history-title">
              <div>
                <img
                  src="../assets/img/champion/{{getChampionName(match['participants'][participantIds[i] - 1]['championId'])}}.png"
                  alt="{{getChampionName(match['participants'][participantIds[i] - 1]['championId'])}} Avatar"
                  style="width: 35px; border-radius: 50%"
                  matTooltip="{{getChampionName(match['participants'][participantIds[i] - 1]['championId'])}}">
              </div>
              <div fxLayout="row" fxLayoutGap="2px">
                <div>
                  <img
                    src="../assets/img/spell/{{getSummonerSpellName(match['participants'][participantIds[i]-1]['spell1Id'])}}"
                    alt="{{getSummonerSpellName(match['participants'][participantIds[i]-1]['spell1Id'])}}"
                    style="width: 25px">
                </div>
                <div>
                  <img
                    src="../assets/img/spell/{{getSummonerSpellName(match['participants'][participantIds[i]-1]['spell2Id'])}}"
                    alt="{{getSummonerSpellName(match['participants'][participantIds[i]-1]['spell2Id'])}}"
                    style="width: 25px">
                </div>
              </div>
              <div>
                {{match['participants'][participantIds[i] - 1]['stats']['win'] ? 'Victory' : 'Defeat'}}
              </div>
              <div>
                Level: {{match['participants'][participantIds[i] - 1]['stats']['champLevel']}}
              </div>
              <div>
                {{match['gameDuration'] * 1000 | date:'mm:ss'}}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="matchHeader.panel.expanded" fxFill class="summoner-info-match-history-wrapper">
            <table class="summoner-info-match-table" fxLayout="column">
              <thead class="summoner-info-match-history-row">
              <tr fxLayoutAlign="space-between">
                <th fxFlex></th>
                <th fxFlex="30">Summoner Name</th>
                <th fxFlex="10">Division</th>
                <th fxFlex="20">Champion</th>
                <th fxFlex="15">KDA</th>
                <th fxFlex="10">Damage</th>
                <th fxFlex="10">Heal</th>
              </tr>
              </thead>
              <tbody class="summoner-info-match-history-row">
              <tr *ngFor="let participant of match['participantIdentities'].slice(0,5); let i = index"
                  fxLayoutAlign="space-between"
                  class="summoner-info-match-history-blueTeam summoner-info-match-history-row">
                <td fxFlex fxLayoutAlign="center center">
                  <img src="./assets/img/profileicon/{{participant['player']['profileIcon']}}.png"
                       alt="{{participant['player']['summonerName']}}'s avatar"
                       class="summoner-info-match-summoner-icon">
                </td>
                <td fxFlex="30"
                    [class.summoner-info-match-history-ownsummoner]="participant['player']['summonerName'] == summonerStats['summonerName']">
                  {{participant['player']['summonerName']}}
                </td>
                <td
                  fxFlex="10">{{match['participants'][i]['highestAchievedSeasonTier'] ? match['participants'][i]['highestAchievedSeasonTier'] : 'None'}}</td>
                <td fxFlex="20">{{getChampionName(match['participants'][i]['championId'])}}</td>
                <td fxFlex="15">
                  {{match['participants'][i]['stats']['kills']}}
                  / {{match['participants'][i]['stats']['deaths']}}
                  / {{match['participants'][i]['stats']['assists']}}
                </td>
                <td fxFlex="10">{{match['participants'][i]['stats']['totalDamageDealt']}}
                <td fxFlex="10">{{match['participants'][i]['stats']['totalHeal']}}</td>
              </tr>
              <tr fxLayout="row" fxLayoutAlign="center"
                  class="summoner-info-match-history-statsrow summoner-info-match-history-row">
                <td colspan="4" fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="50">
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="summoner-info-match-history-row">
                    <div>{{match['teams'][1]['win'] == 'Win' ? 'Win' : 'Lose'}}</div>
                    <div *ngIf="!match['teams'][0]['vilemawKills']">Baron: {{match['teams'][1]['baronKills']}}</div>
                    <div *ngIf="!match['teams'][0]['vilemawKills']">Dragon: {{match['teams'][1]['dragonKills']}}</div>
                    <div *ngIf="!match['teams'][0]['vilemawKills']">
                      Herald: {{match['teams'][1]['riftHeraldKills']}}</div>
                    <div *ngIf="match['teams'][0]['vilemawKills']">Vilemaw: {{match['teams'][1]['vilemawKills']}}</div>
                  </div>
                </td>
                <td colspan="4" fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="50">
                  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="summoner-info-match-history-row">
                    <div *ngIf="match['teams'][0]['vilemawKills']">Vilemaw: {{match['teams'][0]['vilemawKills']}}</div>
                    <div *ngIf="!match['teams'][0]['vilemawKills']">
                      Herald: {{match['teams'][0]['riftHeraldKills']}}</div>
                    <div *ngIf="!match['teams'][0]['vilemawKills']">Dragon: {{match['teams'][0]['dragonKills']}}</div>
                    <div *ngIf="!match['teams'][0]['vilemawKills']">Baron: {{match['teams'][0]['baronKills']}}</div>
                    <div>{{match['teams'][0]['win'] == 'Win' ? 'Win' : 'Lose'}}</div>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let participant of match['participantIdentities'].slice(5); let i = index"
                  fxLayoutAlign="space-between"
                  class="summoner-info-match-history-redTeam summoner-info-match-history-row">
                <td fxFlex fxLayoutAlign="center center">
                  <img src="./assets/img/profileicon/{{participant['player']['profileIcon']}}.png"
                       alt="{{participant['player']['summonerName']}}'s avatar"
                       class="summoner-info-match-summoner-icon">
                </td>
                <td fxFlex="30"
                    [class.summoner-info-match-history-ownsummoner]="participant['player']['summonerName'] == summonerStats['summonerName']">
                  {{participant['player']['summonerName']}}
                </td>
                <td
                  fxFlex="10">{{match['participants'][i]['highestAchievedSeasonTier'] ? match['participants'][i]['highestAchievedSeasonTier'] : 'None'}}</td>
                <td fxFlex="20">{{getChampionName(match['participants'][i + 4]['championId'])}}</td>
                <td fxFlex="15">
                  {{match['participants'][i + 4]['stats']['kills']}}
                  / {{match['participants'][i + 4]['stats']['deaths']}}
                  / {{match['participants'][i + 4]['stats']['assists']}}
                </td>
                <td fxFlex="10">{{match['participants'][i + 4]['stats']['totalDamageDealt']}}</td>
                <td fxFlex="10">{{match['participants'][i + 4]['stats']['totalHeal']}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div fxFill fxLayout="row" fxLayoutAlign="space-between center" class="summoner-info-match-history-buttons">
        <button mat-raised-button color="primary" (click)="lastPageMatches()" [disabled]="beginIndex==0">
          Last page
        </button>
        <button mat-raised-button color="primary" (click)="nextPageMatches()"
                [disabled]="endIndex>=summonerStats.matchHistory.length">
          Next page
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" class="loading-wrapper">
  <span><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></span>
</div>
