.login-input {
  width: 70%;
}

.login-header {
  width: 70%;
  padding: 0.5em 0;
  background: white;
  color: #a8a8a8;
  position: sticky;
  top: 0;
}

.login-header h1 {
  font-weight: bold;
  color: #5b6374;
}
