<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="signup-header">
    <h1 fxFlex="10" mat-dialog-title>Sign up</h1>
  </div>
  <mat-horizontal-stepper linear="true" #stepper style="width: 100%">
    <mat-step [stepControl]="signUpForm">
      <form [formGroup]="signUpForm" (ngSubmit)="signUpUser(stepper)" fxLayout="column" fxFill
            fxLayoutAlign="center center" fxLayoutGap=".5em">
        <ng-template matStepLabel>User information</ng-template>
        <mat-form-field class="signup-input">
          <mat-label>Email</mat-label>
          <input matInput id="userEmail" type="email" formControlName="userEmail" fxFill
                 placeholder="Insert an Email">
          <mat-error *ngIf="signUpForm.controls['userEmail']">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="signup-input">
          <mat-label>Username</mat-label>
          <input matInput id="userName" type="text" formControlName="userName" fxFill
                 placeholder="Insert an Username">
          <mat-error *ngIf="signUpForm.controls['userEmail']">{{getErrorMessageUsername()}}</mat-error>
          <mat-error *ngIf="errorMessage.length > 0">{{errorMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field class="signup-input">
          <mat-label>Password</mat-label>
          <input matInput id="userPass" type="password" formControlName="userPass" fxFill
                 placeholder="Insert a Password" #passinput>
          <mat-error *ngIf="signUpForm.controls['userEmail']">{{getErrorMessagePass()}}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="signup-input">
          <button type="button" mat-flat-button color="warn" (click)="closeDialog()">
            Cancel
          </button>
          <button type="submit" mat-flat-button color="primary" [disabled]="signUpForm.status!=='VALID'">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addSummonerForm">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5em" fxFill>
        <ng-template matStepLabel>LoL Account information</ng-template>
        <h4>Follow the instructions</h4>
        <div>
          <p class="signup-tutorial-text">To register you need to link an account. Input your Summoner name and region
            and follow the instructions in the next step.</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="signup-input">
          <form [formGroup]="addSummonerForm" (ngSubmit)="searchSummoner(stepper)" fxLayout="column" fxFlex="70"
                fxLayoutAlign="center center" class="signup-form-summoner-add">
            <mat-form-field fxFill>
              <mat-label>Summoner Name</mat-label>
              <input matInput id="summonerNameUser" type="text" formControlName="summonerNameUser" fxFill
                     class="summonerName-input"
                     placeholder="Insert a Summoner Name">
              <mat-error *ngIf="addSummonerForm.status=='INVALID' && !addSummonerForm.hasError('required')">
                Please enter a valid summoner name (Unicode letter characters, digits (0-9), spaces, underscores and
                periods).
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFill>
              <mat-label>Region</mat-label>
              <mat-select id="regionUser" formControlName="regionUser" class="region-selector">
                <mat-option value="euw1">Europe</mat-option>
                <mat-option value="na1">North America</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
              <button type="button" mat-flat-button color="warn" (click)="closeDialog()">
                Cancel
              </button>
              <button type="submit" mat-flat-button color="primary" matStepperNext
                      [disabled]="addSummonerForm.status=='INVALID'">
                Next
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5em">
        <ng-template matStepLabel>Check</ng-template>
        <h4><span class="userIdentifier">{{userIdentifier ? userIdentifier : ''}}</span></h4>

        <div>
          <p class="signup-tutorial-text">
            Go to Settings > Verification inside the LoL Launcher and input the code above and save it.
            When you are ready click Submit to finish the registration process.
          </p>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="signup-input">
          <button type="button" mat-flat-button color="warn" (click)="closeDialog()">
            Cancel
          </button>
          <button type="button" mat-flat-button color="primary" (click)="validateSummoner(stepper)">
            Submit
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
