.user-profile-wrapper {
  width: 100%;
  margin-top: 7em;
}

.user-profile-info-wrapper {
  width: 70%;
}

.user-profile-info-avatar {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(144,144,144,0.35);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.75);
}

.user-profile-table-wrapper {
  width: 50%;
}

.user-profile-table-summoner-icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.user-profile-table-name-link {
  text-decoration: none;
  color: rgb(33,33,33);
}

.user-profile-table-name-link:hover {
  font-weight: bold;
}
