<div *ngIf="loadingAccounts"></div>
<div class="user-profile-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3em"
     *ngIf="!loadingAccounts">
  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="user-profile-info-wrapper">
    <div class="user-profile-info-avatar">
      <img
        [src]="'./assets/img/profileicon/'+userInfo['savedAccounts'][0]?.profileIconId+'.png'"
        alt="Summoner Icon" class="user-profile-table-summoner-icon" fxFill>
    </div>
    <div>
      <h2 class="user-profile-info-username">Username: <span>{{userInfo['username']}}</span></h2>
      <h3 class="user-profile-info-email">Email: <span>{{userInfo['email']}}</span></h3>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="user-profile-table-wrapper" fxLayoutGap="1em">
    <div *ngIf="userInfo['savedAccounts'].length == 0">
      <p>No Accounts</p>
    </div>
    <div fxFill>
      <mat-table [dataSource]="userInfo['savedAccounts']" class="mat-elevation-z8"
                 *ngIf="userInfo['savedAccounts'].length > 0" fxFill>
        <ng-container matColumnDef="icon">
          <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <img [src]="'./assets/img/profileicon/'+element?.profileIconId+'.png'"
                 alt="Summoner Icon" class="user-profile-table-summoner-icon">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="['/summoner/euw/'+element?.name]"
               class="user-profile-table-name-link">{{element?.name}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef> Summoner Level</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element?.summonerLevel}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <div>
      <button mat-raised-button color="primary">Add more accounts</button>
    </div>
  </div>
</div>
