<div class="error-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3em">
  <h1 class="error-message" fxLayoutAlign="center center">
    <mat-icon fxFlexAlign="center" color="warn">error</mat-icon>
    Summoner does not exists
    <mat-icon fxFlexAlign="center" color="warn">error</mat-icon>
  </h1>
  <form [formGroup]="searchSummonerForm" (ngSubmit)="searchSummoner()" fxLayout="row" fxFill
        fxLayoutAlign="center center" class="home-form-summoner-search" fxLayoutGap="3em">
    <mat-form-field fxFlex="40" appearance="standard">
      <mat-label>Summoner Name</mat-label>
      <input matInput id="summonerName" type="text" formControlName="summonerName" fxFill class="summonerName-input"
             placeholder="Insert a Summoner Name">
      <mat-error *ngIf="searchSummonerForm.status=='INVALID' && !searchSummonerForm.hasError('required')">
        Please enter a valid summoner name (Unicode letter characters, digits (0-9), spaces, underscores and periods).
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Region</mat-label>
      <mat-select id="region" formControlName="region" class="region-selector">
        <mat-option value="euw1">Europe</mat-option>
        <mat-option value="na1">North America</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-icon-button color="primary" [disabled]="searchSummonerForm.status=='INVALID'">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
