<div fxLayout="column" class="home-wrapper" fxLayoutAlign="space-evenly center">
  <div>
    <img src="/assets/img/Logo.jpg" alt="League of Data Logo" class="home-image">
  </div>
  <form [formGroup]="searchSummonerForm" (ngSubmit)="searchSummoner()" fxLayout="row" fxFill
        fxLayoutAlign="center center" class="home-form-summoner-search" fxLayoutGap="3em">
    <mat-form-field fxFlex="40" appearance="standard">
      <mat-label>Summoner Name</mat-label>
      <input matInput id="summonerName" type="text" formControlName="summonerName" fxFill class="summonerName-input"
             placeholder="Insert a Summoner Name">
      <mat-error *ngIf="searchSummonerForm.status=='INVALID' && !searchSummonerForm.hasError('required')">
        Please enter a valid summoner name (Unicode letter characters, digits (0-9), spaces, underscores and periods).
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Region</mat-label>
      <mat-select id="region" formControlName="region" class="region-selector">
        <mat-option value="euw1">Europe</mat-option>
        <mat-option value="na1">North America</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-icon-button color="primary" [disabled]="searchSummonerForm.status=='INVALID'">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div class="info-wrapper" fxFill fxLayout="row" fxLayoutAlign="space-evenly start">
    <div fxFlex="60">
      <h2>News</h2>
      <div fxFill *ngIf="!loadingNews" fxLayout="column" fxLayoutAlign="space-around center" class="home-news-wrapper"
           fxLayoutGap="1.5em">
        <div *ngFor="let oneNews of news |slice:newsStartIndex:newsEndIndex" fxLayout="row"
             fxLayoutAlign="space-around" class="home-news-story" (click)="router.navigate(['news', oneNews._id])">
          <div fxFlex="20" fxFlexAlign="center">
            <img src=".{{oneNews?.img}}" alt="" width="100%" style="border-radius: 5px" fxFlexAlign="center">
          </div>
          <div fxFlex="60">
            <h2>{{oneNews?.title}}</h2>
            <p>{{oneNews?.description}}</p>
          </div>
          <div fxFlex="10" fxFlexAlign="end">
            <p>{{oneNews?.publicationDate | date:'dd, MMM-yy'}}</p>
          </div>
        </div>
        <div fxFill fxLayout="row" fxLayoutAlign="space-around">
          <button mat-mini-fab color="primary" (click)="previousNews()" [disabled]="newsStartIndex==0">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="nextNews()" [disabled]="newsEndIndex>=news.length">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
      <div fxFill *ngIf="loadingNews" fxLayout="column" fxLayoutAlign="center center">
        <span><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></span>
      </div>
    </div>
    <div fxFlex="15" fxLayout="column">
      <div fxFlex="50">
        <h2 class="home-statistics-title">General Statistics</h2>
        <table *ngIf="!loadingStats" class="home-stats-table">
          <thead style="width: 100%">
          <tr style="width: 100%">
            <th fxFlex="20">Icon</th>
            <th fxFlex="30">Champion</th>
            <th fxFlex="50">Win Rate (%)</th>
          </tr>
          </thead>
          <tbody style="width: 100%">
          <tr *ngFor="let stat of stats | slice:0:10" style="width: 100%">
            <td fxFlex="20" *ngIf="!stats.championId">
              <img
                src="../assets/img/champion/{{getChampionName(stat.championId)}}.png"
                alt="{{getChampionName(stat.championId)}} Avatar"
                style="width: 35px; border-radius: 50%"
                matTooltip="{{getChampionName(stat.championId)}}"
                matTooltipPosition="before">
            </td>
            <td fxFlex="30" fxFlexAlign="center" *ngIf="!stats.championId">{{getChampionName(stat.championId)}}</td>
            <td fxFlex="50" fxFlexAlign="center" *ngIf="!stats.championId">{{stat.win_rate}}%</td>
          </tr>
          </tbody>
        </table>
        <div fxFill *ngIf="loadingStats" fxLayout="column" fxLayoutAlign="center center">
          <span><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></span>
        </div>
      </div>
      <div fxFlex="50">
        <h2 class="home-livestreams-title">Top 10 Livestreams</h2>
        <mat-list dense *ngIf="!loadingStreams" class="home-livestreams-list">
          <a mat-list-item *ngFor="let livestream of livestreams"
             [href]="'https://www.twitch.tv/' + livestream['thumbnail_url']
             .replace('https://static-cdn.jtvnw.net/previews-ttv/live_user_', '')
             .replace('-{width}x{height}.jpg', '')"
             class="home-livestreams-link" target="_blank">
            {{livestream.user_name}} -
            <mat-icon>person</mat-icon>
            {{livestream.viewer_count}}
          </a>
        </mat-list>
        <div fxFill *ngIf="loadingStreams" fxLayout="column" fxLayoutAlign="center center">
          <span><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></span>
        </div>
      </div>
    </div>
  </div>
</div>
