.home-wrapper {
  width: 100%;
  margin-top: 7em;
}

.info-wrapper {
  margin-top: 5em;
}

.home-statistics-title {
  font-size: 1.2em;
  text-align: center;
}

.home-livestreams-title {
  font-size: 1.2em;
  text-align: center;
}

.home-livestreams-list.mat-list.mat-list-base.ng-star-inserted{
  padding-top: 0;
}

.home-livestreams-list {
  border: 1px solid black;
  border-radius: 5px;
}

.home-livestreams-link {
  text-decoration: none;
}

.home-livestreams-link:hover {
  color: white;
  background-color: #4B357D;
  border-radius: 5px;
}
