<div fxLayout="column" class="home-wrapper" fxLayoutAlign="space-evenly center">
  <form [formGroup]="searchSummonerForm" (ngSubmit)="searchSummoner()" fxLayout="row" fxFill
        fxLayoutAlign="center center" class="home-form-summoner-search" fxLayoutGap="3em">
    <mat-form-field fxFlex="40">
      <mat-label>Summoner Name</mat-label>
      <input matInput id="summonerName" type="text" formControlName="summonerName" fxFill class="summonerName-input"
             placeholder="Insert a Summoner Name">
      <mat-error *ngIf="searchSummonerForm.status=='INVALID' && !searchSummonerForm.hasError('required')">
        Please enter a valid summoner name (Unicode letter characters, digits (0-9), spaces, underscores and periods).
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Region</mat-label>
      <mat-select id="region" formControlName="region" class="region-selector">
        <mat-option value="euw1">Europe</mat-option>
        <mat-option value="na1">North America</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-icon-button color="primary" [disabled]="searchSummonerForm.status=='INVALID'">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div class="info-wrapper" fxFill fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
       fxLayoutAlign="space-evenly">
    <div fxFlex="60" fxFlexOrder.sm="0" fxFlexOrder.xs="0">
      <h2>News</h2>
      <h1 class="wip"><mat-icon>warning</mat-icon>WORK IN PROGRESS<mat-icon>warning</mat-icon></h1>
    </div>
    <div fxFlex="15" fxFlexOrder.sm="-1" fxFlexOrder.xs="-1" fxLayout="column"
         fxLayout.sm="row" fxLayout.xs="row">
      <div fxFlex="50">
        <h2 class="home-statistics-title">General Statistics</h2>
        <h1 class="wip"><mat-icon>warning</mat-icon>WORK IN PROGRESS<mat-icon>warning</mat-icon></h1>
      </div>
      <div fxFlex="50">
        <h2 class="home-livestreams-title">Top 10 Livestreams</h2>
        <mat-list dense *ngIf="!loadingStreams" class="home-livestreams-list">
          <a mat-list-item *ngFor="let livestream of livestreams"
             [href]="'https://www.twitch.tv/' + livestream?.user_name.replace(' ', '')" class="home-livestreams-link">
            {{livestream.user_name}} -
            <mat-icon>person</mat-icon>
            {{livestream.viewer_count}}
          </a>
        </mat-list>
        <div fxFill *ngIf="loadingStreams" fxLayout="column" fxLayoutAlign="center center">
          <span><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></span>
        </div>
      </div>
    </div>
  </div>
</div>
