<div fxLayout="column" class="home-wrapper" fxLayoutAlign="space-evenly center">
  <form [formGroup]="searchSummonerForm" (ngSubmit)="searchSummoner()" fxLayout="row" fxFill
        fxLayoutAlign="center center" class="home-form-summoner-search" fxLayoutGap="3em">
    <mat-form-field fxFlex="40">
      <mat-label>Summoner Name</mat-label>
      <input matInput id="summonerName" type="text" formControlName="summonerName" fxFill class="summonerName-input"
             placeholder="Insert a Summoner Name">
      <mat-error *ngIf="searchSummonerForm.status=='INVALID' && !searchSummonerForm.hasError('required')">
        Please enter a valid summoner name (Unicode letter characters, digits (0-9), spaces, underscores and periods).
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Region</mat-label>
      <mat-select id="region" formControlName="region" class="region-selector">
        <mat-option value="euw1">Europe</mat-option>
        <mat-option value="na1">North America</mat-option>
        <mat-option value="asia">Asia</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-icon-button color="primary" [disabled]="searchSummonerForm.status=='INVALID'">
      <mat-icon>search</mat-icon>
    </button>
  </form>
  <div class="info-wrapper" fxFill fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
       fxLayoutAlign="space-evenly">
    <div fxFlex="60" fxFlexOrder.sm="0" fxFlexOrder.xs="0">
      <h2>News</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut corporis distinctio facere illo in labore
      necessitatibus quia soluta velit? Accusantium et iure perferendis suscipit. Accusantium dolor dolorum et facilis
      inventore maiores ut voluptatibus? Alias at corporis, dolor dolores eaque eius ex, expedita ipsam ipsum iure
      laudantium neque provident quaerat recusandae repudiandae, sed sequi soluta totam veniam voluptate! A alias
      asperiores, at delectus doloremque doloribus ea eaque eligendi esse hic laboriosam laborum sunt tempora ut
      voluptatum. Aliquid architecto consectetur consequatur debitis doloremque earum illum incidunt labore laborum
      molestias nemo, nisi officiis pariatur quos sequi voluptas voluptatibus. Aliquam asperiores consectetur
      cupiditate, distinctio eius exercitationem facilis minus natus, nemo nisi nobis nostrum quod saepe sit soluta! Ab
      animi at autem debitis, delectus dignissimos dolores eaque est excepturi expedita facere facilis fuga, id in
      laudantium molestiae natus neque officiis quasi recusandae reiciendis repudiandae sint soluta suscipit tempora,
      totam vel vero. Accusantium ad adipisci assumenda consequatur, culpa doloremque doloribus earum ipsum itaque
      labore placeat quas quia quidem, quisquam repellat sit temporibus? Aut earum fugit inventore minima repudiandae.
      Animi autem eius, est fugit ipsa maiores minima nemo nesciunt omnis porro provident quidem rem tempore vel
      voluptas. At consequatur consequuntur corporis dignissimos impedit incidunt iusto labore magnam nam necessitatibus
      nesciunt, quis similique sit soluta tempora totam voluptate? A ea excepturi laboriosam maiores nihil nisi nostrum
      obcaecati odit optio. Accusantium ea earum, enim, hic illo in laborum magni, modi numquam quae quaerat quia quos
      repellat sit vero. Ab animi, aperiam at blanditiis consequatur corporis cumque dolor dolore doloremque eaque et
      exercitationem explicabo fuga fugiat hic id illo in laboriosam neque nihil omnis optio possimus praesentium quae
      quibusdam quidem sapiente sequi soluta tempora tempore temporibus tenetur voluptas voluptate! Blanditiis earum
      fuga incidunt ipsam odit, repudiandae totam veniam! Accusamus aliquam deserunt illo magnam minus molestiae nam.
      Aperiam dicta error, exercitationem explicabo id iusto necessitatibus nemo odio officiis praesentium quae quasi
      quibusdam quod reprehenderit repudiandae unde velit. Aliquid doloremque fugiat harum nostrum reiciendis
      reprehenderit sequi sunt? Accusantium aliquid asperiores aut autem commodi, consequuntur corporis deleniti dolor,
      eaque earum eos error excepturi id maxime minima molestias necessitatibus nihil nobis nostrum omnis quis sunt vero
      voluptatibus. Aut beatae culpa distinctio doloremque dolores dolorum ipsum labore laudantium necessitatibus neque
      nostrum omnis quos ratione, repellat soluta ut voluptates. Aliquam, amet aperiam assumenda autem commodi
      consectetur consequatur, culpa doloremque eaque hic laboriosam laudantium magnam, natus officia reiciendis ullam
      veritatis vero. Alias aliquam dicta dignissimos dolorum ex exercitationem explicabo in magnam molestias nesciunt
      officia perferendis qui, quisquam tempore temporibus. Atque consectetur debitis dolore dolorem excepturi explicabo
      fugit iusto quidem voluptatem. Aliquam aut blanditiis consequuntur, dignissimos distinctio dolorum eos eveniet
      exercitationem facere harum id incidunt inventore ipsum iusto laudantium libero maiores molestias nesciunt nobis
      nostrum nulla officia pariatur porro quae quaerat quam quis reiciendis repellat similique sint ullam vero voluptas
      voluptatibus? Accusamus ad architecto blanditiis consectetur eligendi, expedita ipsa iure maxime necessitatibus
      nesciunt nulla officiis possimus quae ratione rem rerum saepe similique sit temporibus voluptate. Ea laboriosam
      omnis quas quod sed! Ad cum cupiditate dolorum sunt tenetur.
    </div>
    <div fxFlex="15" fxFlexOrder.sm="-1" fxFlexOrder.xs="-1" fxLayout="column"
         fxLayout.sm="row" fxLayout.xs="row">
      <div fxFlex="50">
        <h2 class="home-statistics-title">General Statistics</h2>
      </div>
      <div fxFlex="50">
        <h2 class="home-livestreams-title">Top 10 Livestreams</h2>
        <mat-list dense *ngIf="!loadingStreams" class="home-livestreams-list">
          <a mat-list-item *ngFor="let livestream of livestreams"
             [href]="'https://www.twitch.tv/' + livestream?.user_name.replace(' ', '')" class="home-livestreams-link">
            {{livestream.user_name}} -
            <mat-icon>person</mat-icon>
            {{livestream.viewer_count}}
          </a>
        </mat-list>
        <div fxFill *ngIf="loadingStreams" fxLayout="column" fxLayoutAlign="center center">
          <span><mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner></span>
        </div>
      </div>
    </div>
  </div>
</div>
